<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="fadxapp.es.jagafo.view.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="fadxapp.es.jagafo.view.application.Perspective"
            id="fadxapp.perspective">
      </perspective>
   </extension>
   <extension
         id="fadxapp.es.jagafo.menu"
         name="%extension.name"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="fadxapp.menus.sampleMenu"
               label="%menu.bbdd.label"
               mnemonic="%menu.bbdd.mnemonic">
            <command
                  commandId="fadxapp.commands.bbddCheker"
                  id="fadxapp.menus.bbdd.bbddCheker"
                  mnemonic="%command.mnemonic">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="fadxapp.toolbars.sampleToolbar">
            <command
                  commandId="fadxapp.commands.bbddCheker"
                  icon="icons/sample.gif"
                  id="fadxapp.toolbars.sampleCommand"
                  label="%Command.bbddCheker.label"
                  style="push"
                  tooltip="%command.bbddChecker.tooltip">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fadxapp.commands.bbdd"
            name="%bbdd.category.name">
      </category>
      <command
            categoryId="fadxapp.commands.bbdd"
            id="fadxapp.commands.bbddCheker"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fadxapp.es.jagafo.controller.commands.SQLLiteChecker"
            commandId="fadxapp.commands.bbddCheker">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fadxapp.commands.bbddCheker"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         id="fadxapp.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="fadxapp.product"
            name="fadxapp">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="aboutText"
               value="About text">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,280,275,15">
         </property>
         <property
               name="startupProgressRect"
               value="5,295,275,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="fadxapp">
         </property>
      </product>
   </extension>

</plugin>
